@font-face {
  font-family: 'OpenSans-Light';
  src: url('OpenSans-Light.eot');
  src: url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-Light.svg#OpenSans-Light') format('svg'),
    url('OpenSans-Light.ttf') format('truetype'),
    url('OpenSans-Light.woff') format('woff'),
    url('OpenSans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('OpenSans-Regular.eot');
  src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
    url('OpenSans-Regular.ttf') format('truetype'),
    url('OpenSans-Regular.woff') format('woff'),
    url('OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('OpenSans-SemiBold.eot');
  src: url('OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg'),
    url('OpenSans-SemiBold.ttf') format('truetype'),
    url('OpenSans-SemiBold.woff') format('woff'),
    url('OpenSans-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('OpenSans-Bold.eot');
  src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
    url('OpenSans-Bold.ttf') format('truetype'),
    url('OpenSans-Bold.woff') format('woff'),
    url('OpenSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
